// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//css para la tabla
.jss16 {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.jss13 {
    border-radius: 4px;
}
.jss12 {
    background-color: #fff;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.jss320 {
    width: 100%;
    display: table;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.jss321 {
    display: table-header-group;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.jss325 {
    height: 56px;
}
.jss322 {
    color: inherit;
    height: 48px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.jss328 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    font-weight: 500;
}
.jss327 {
    display: table-cell;
    padding: 4px 56px 4px 24px;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
}
.jss348 {
    display: table-row-group;
}
.jss322 {
    color: inherit;
    height: 48px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.jss329 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8125rem;
    font-weight: 400;
}
.jss327 {
    display: table-cell;
    padding: 4px 56px 4px 24px;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
}
//Ahora el css para el botón
.jss369 {
    color: white;
    background-color: #67B4BA;
}
.jss368 {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
}
.jss359 {
    color: rgba(0, 0, 0, 0.87);
    padding: 8px 16px;
    font-size: 0.875rem;
    min-width: 88px;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4em;
    border-radius: 4px;
    text-transform: uppercase;
}
.jss91 {
    color: inherit;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
.jss360 {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.jss424 {
    margin-right: 8px;
}
.jss346 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}
.jss94 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

//CSS para el form
@font-face {
    font-family: 'Ubuntu-Bold';
    src: asset-url('fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #f2f2f2;
}
.wrap-contact100 {
    width: 550px;
    background: transparent;
    padding: 50px 0px 160px 0px;
}
.contact100-form {
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contact100-form-title {
    display: block;
    font-family: 'Ubuntu-Bold';
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #505450;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 49px;
}
.validate-input {
    position: relative;
}
.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 31px;
    margin-bottom: 16px;
    z-index: 1;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.input100 {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    font-family: 'Ubuntu-Bold';
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
    height: 62px;
    padding: 0 35px 0 35px;
    overflow: visible;
    outline: none;
    border: none;
}
.datelabel {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    font-family: 'Ubuntu-Bold';
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
    height: 62px;
    padding: 0 35px 0 35px;
    outline: none;
    border: none;
}


.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #fff;
    pointer-events: none;
    transition: all 0.4s;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-contact100-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contact100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    background-color: #505450;
    border-radius: 31px;
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    outline: none !important;
    border: none;
    background: transparent;
    -webkit-appearance: button;
    overflow: visible;
}
